cryptography==43.0.1
fastapi==0.115.0
optuna==4.0.0
pandas==2.2.2
prophet==1.1.5
pydantic==2.9.2
python-dotenv==1.0.1
scikit_learn==1.5.2
SQLAlchemy==2.0.32
lasio===0.31
uvicorn===0.30.6
PyJWT===2.9.0
python-multipart===0.0.12
missingno===0.5.2
aio-pika===9.4.3
